@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Pacifico&family=Paytone+One&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #141414;
  }
  .fontPacifico {
    font-family: "Pacifico", cursive;
  }
  .fontPoppins {
    font-family: "Poppins", sans-serif;
  }
  .fontPaytone {
    font-family: "Paytone One", sans-serif;
  }
  .fontOutfit {
    font-family: "Outfit", sans-serif;
  }
  .h500 {
    height: 580px;
  }
}
*::selection {
  background: #fff;
  color: #cf4c4c;
}
/* #tsparticles {
  height: 100px;
} */
