@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Pacifico&family=Paytone+One&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #141414;
  }
  .fontPacifico {
    font-family: "Pacifico", cursive;
  }
  .fontPoppins {
    font-family: "Poppins", sans-serif;
  }
  .fontPaytone {
    font-family: "Paytone One", sans-serif;
  }
  .fontOutfit {
    font-family: "Outfit", sans-serif;
  }
  .h500 {
    height: 580px;
  }
}
*::selection {
  background: #fff;
  color: #cf4c4c;
}

@layer utilities {
  .linkedin-link:hover {
    filter: invert(43%) sepia(64%) saturate(2646%) hue-rotate(193deg)
      brightness(92%) contrast(87%);
  }
  .github-link:hover {
    filter: invert(100%) brightness(0%) saturate(100%) sepia(20%)
      hue-rotate(20deg) contrast(60%);
  }
}
